<!-- views/partials/head.ejs -->
<!--<title><%= title %></title>-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<link rel="stylesheet" href="/javascripts/libs/bootstrap/dist/css/bootstrap.css">

<!-- DevExtreme themes -->
<link rel="stylesheet" href="/javascripts/libs/devextreme/css/dx.spa.css" />
<link rel="stylesheet" href="/javascripts/libs/devextreme/css/dx.common.css" />
<!--<link rel="stylesheet" href="/javascripts/libs/devextreme/css/dx.dark.css" />-->
<link rel="stylesheet" href="/javascripts/libs/devextreme/css/dx.light.css" />
<link rel="dx-theme" data-theme="generic.light" href="/javascripts/libs/devextreme/css/dx.light.css" />

<!-- Styles for App -->
<link rel="stylesheet" href="/stylesheets/style.css" />