<!-- views/pages/orders.ejs -->

<% layout('./boilerplate') -%>

<!-- Contents -->
<div class="demo-container">
    <div id="chart"></div>
</div>

<!-- App -->
<script src="/javascripts/charts/chart-02.js"></script>
<script src="/javascripts/charts/chart-02-data.js"></script>
