<!-- views/pages/orders.ejs -->

<% layout('./boilerplate') -%>

<!-- Contents -->
<h1>Chart 3</h1>
<div id="gridContainer"></div>

<!-- App -->
<script src="/javascripts/charts/chart-03.js"></script>
