<!-- views/pages/orders.ejs -->

<% layout('./boilerplate') -%>

<!-- Contents -->
<h1>Chart 2</h1>
<div class="demo-container">
    <div id="chart-demo">
        <div id="chart"></div>
        <div class="options">
            <div class="caption">Options</div>
            <div class="option">
                <span>Series Type</span>
                <div id="types"></div>
            </div>
        </div>
    </div>
</div>

<!-- App -->
<script src="/javascripts/charts/chart-02.js"></script>
