<!-- views/boilerplate.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head & CSS -->
    <% include ./partials/head %>

    <!-- JS Libs -->
    <% include ./partials/js-libs %>
</head>
<body>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Collapsible Sidebar</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>

            <!-- Link with dropdown items -->
            <li>
                <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false">DevExtreme</a>
                <ul class="collapse list-unstyled" id="homeSubmenu1">
                    <li><a href="/orders">Order (Web API)</a></li>
                    <li><a href="/json-server-orders">Order (JSON Server)</a></li>
                    <li><a href="/rest-api-orders">Order (REST API)</a></li>
                </ul>

            </li>
            <li>
                <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false">Form</a>
                <ul class="collapse list-unstyled" id="homeSubmenu2">
                    <li><a href="/form/entry">Entry</a></li>
                    <li><a href="#">Vaild</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            Toggle Sidebar
        </button>
        <!-- We'll fill this with dummy content -->
        <%- body -%>

    </div>

    <!-- App -->
    <script src="/javascripts/app.js"></script>
</body>
</html>