<!-- views/pages/orders.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head & CSS -->
    <% include ./partials/head %>

    <!-- JS Libs -->
    <% include ./partials/js-libs %>
</head>
<body class="dx-viewport">

    <header>
        <% include ./partials/header %>
    </header>

    <!-- Contents -->
    <main>
        <%- body -%>
    </main>

    <!-- App -->
    <script src="/javascripts/orders.js"></script>
</body>
</html>