<!-- views/pages/orders.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="dx-viewport">

    <header>
        <% include ../partials/header %>
    </header>

    <!-- Contents -->
    <main>
        <div id="gridContainer"></div>
    </main>

    <!-- JS Libs -->
    <% include ../partials/js-libs %>

    <!-- App -->
    <script src="/javascripts/orders.js"></script>
</body>
</html>