<!-- views/pages/orders.ejs -->

<% layout('./boilerplate') -%>

<!-- Contents -->
<main class="dx-viewport">
    <div id="gridContainer"></div>
</main>

<!-- App -->
<script src="/javascripts/orders.js"></script>
